.mediaViewInfo {
	--web-view-name: Landing;
	--web-view-id: Landing;
}
:root {
	--web-view-ids: Landing;
}

#Landing {
	height: 3000px;
	overflow: hidden;
	--web-view-name: Landing;
	--web-view-id: Landing;
	background-color: rgba(219,241,255,1);
}
#whats_happening_block {
	position: absolute;
	width: 1280px;
	height: 553.741px;
	left: 0px;
	top: 640px;
	overflow: visible;
	background-color: rgba(255,208,91,1);
}

#what_can_I_do_block {
	position: absolute;
	width: 1280px;
	height: 460px;
	left: 0px;
	top: 1200px;
	overflow: visible;
	text-align: center;
	background-color: rgba(255,190,190,1);
}

#more_questions_block {
	position: absolute;
	padding-top: 40px;
	width: 100%;
	height: 400px;
	top: 1650px;
	overflow: visible;
	text-align: center;
}

#lifeomic-block {
	position: absolute;
	width: 100%;
	height: 560px;
	top: 2050px;
	overflow: visible;
	text-align: center;
	background-color: #F8C757;
}

.lifeology-button {
  background-color: white;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 360px;
  height: 400px;
  border-radius: 75px;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  top: 120px;
  position: absolute;
}

#about_block {
	position: absolute;
	width: 100%;
	height: 120px;
	top: 2650px;
	overflow: visible;
	text-align: left;
}


.what_can_i_do {
	position: absolute;
	overflow: visible;
	width: 1280px;
	height: 460px;
	left: 0px;
	top: 0px;
}
#What_Can_I_do_ {
	position: absolute;
	left: 424.5px;
	top: 41.237px;
	overflow: visible;
	width: 432px;
	white-space: nowrap;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
	color: rgba(112,112,112,1);
}
#self {
	position: absolute;
	width: 384px;
	height: 100px;
	left: 45px;
	top: 218px;
	overflow: visible;
}

.white-button-small {
  background-color: white;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  width: 300px;
  height: 80px;
  border-radius: 40px;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.white-button-large {
  background-color: white;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  width: 384px;
  height: 100px;
  border-radius: 50px;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.pink-button-large {
  background-color: rgba(255,190,190,1);
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  width: 440px;
  height: 80px;
  border-radius: 50px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2)
}


#others {
	position: absolute;
	width: 384px;
	height: 100px;
	left: 448px;
	top: 218px;
	overflow: visible;
}

#world {
	position: absolute;
	width: 384px;
	height: 100px;
	left: 851px;
	top: 218px;
	overflow: visible;
}

#others-graphic {
	position: absolute;
	width: 102px;
	height: 102px;
	left: 589px;
	top: 140px;
	overflow: visible;
}
#self-graphic {
	position: absolute;
	width: 102px;
	height: 102px;
	left: 197px;
	top: 140px;
	overflow: visible;
}

#world-graphic {
	position: absolute;
	width: 102px;
	height: 102px;
	left: 986px;
	top: 146px;
	overflow: visible;
}
#landing_view {
	position: absolute;
	width: 1320px;
	height: 609.98px;
	left: -40px;
	top: 30.02px;
	overflow: visible;
}
.pink_gaussian {
	filter: drop-shadow(10px 0px 10px rgba(0, 0, 0, 0.212));
	overflow: visible;
	position: absolute;
	width: 1192.404px;
	height: 639.98px;
	left: 4.323px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.yellow_gaussian {
	filter: drop-shadow(10px 0px 10px rgba(0, 0, 0, 0.2));
	overflow: visible;
	position: absolute;
	width: 1350px;
	height: 310px;
	left: 0px;
	top: 329.98px;
	transform: matrix(1,0,0,1,0,0);
}
#title {
	position: absolute;
	left: 278.5px;
	top: 160.98px;
	overflow: visible;
	width: 804px;
	height: 89px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 80px;
	color: rgba(112,112,112,1);
}

#ask_expert_button {
	position: absolute;
	width: 300px;
	height: 80px;
	left: 940px;
	top: 441.98px;
	overflow: visible;
}

#What_Can_I_do__dt {
	position: absolute;
	left: 40.5px;
	top: 25.688px;
	overflow: visible;
	width: 180px;
	white-space: nowrap;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#what_can_i_do_button {
	position: absolute;
	width: 300px;
	height: 80px;
	left: 530px;
	top: 441.98px;
	overflow: visible;
}



#what_is_happening_button {
	position: absolute;
	width: 300px;
	height: 80px;
	left: 140px;
	top: 441.98px;
	overflow: visible;
}
.white_button_large {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 384px;
	height: 100px;
	left: 0px;
	top: 0px;
}


#Facts_and_FAQs_about_COVID_19_ {
	position: absolute;
	left: 480px;
	top: 249.98px;
	overflow: hidden;
	width: 401px;
	height: 40px;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	color: rgba(112,112,112,1);
}

#whats_happening {
	position: absolute;
	width: 1280px;
	height: 553.742px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.yellow_background {
	overflow: visible;
	position: absolute;
	width: 1280px;
	height: 540px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.green_shape {
	filter: drop-shadow(3px 0px 6px rgba(0, 0, 0, 0.486));
	overflow: visible;
	position: relative;
	width: 1299.245px;
	height: 559.136px;
	left: 0.041px;
	top: 13.742px;
	transform: matrix(1,0,0,1,0,0);
}
#What_Is_Happening_ {
	position: absolute;
	top: 140px;
	overflow: visible;
	width: 100%;
	text-align: center;
	color: rgba(112,112,112,1);
}
#economy {
	position: absolute;
	width: 180px;
	height: 180px;
	left: 860px;
	top: 248px;
	overflow: visible;
}

#virus {
	position: absolute;
	width: 180px;
	height: 180px;
	left: 420px;
	top: 248px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: What_is_happening.html;
	cursor: pointer;
}

#response {
	position: absolute;
	width: 180px;
	height: 180px;
	left: 640px;
	top: 248px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: What_is_happening.html;
	cursor: pointer;
}

#Brief_History_of_COVID_19 {
	position: absolute;
	left: 180.5px;
	top: 448.599px;
	overflow: visible;
	width: 201px;
	height: 60px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#What_is_a_virus_ {
	position: absolute;
	left: 400px;
	top: 448px;
	overflow: visible;
	width: 201px;
	height: 60px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#How_did_we_respond_ {
	position: absolute;
	left: 640px;
	top: 448px;
	overflow: visible;
	width: 201px;
	height: 60px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#How_did_it_impact_the_economy_ {
	position: absolute;
	left: 850px;
	top: 448px;
	overflow: visible;
	width: 201px;
	height: 60px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#History {
	position: absolute;
	width: 180px;
	height: 180px;
	left: 200px;
	top: 248px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: What_is_happening.html;
	cursor: pointer;
}


#about_us_button {
	display: block;
	position: relative;
	text-align: center;
}
#about_us_button .white-button-small{
	height: 60px;
}

.dropdown-container {
	position: relative;
	}

.dropdown-container img {
	top: 20px;
	left: 40px;
	width: 40px;
	height: 40px;
	}

.dropdown-container .dropdown {
	position: absolute;
	display: inline-block;
	background-color: #555;
	color: white;
	}	

.dropdown-container .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-radius: 25px;
	z-index: 1;
	}

.dropdown-container .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	}

.dropdown-content a:hover {background-color: #ddd; border-radius: 25px;}

.dropdown:hover .dropdown-content {display: block;}