.mediaViewInfo {
	--web-view-name: Landing;
	--web-view-id: Landing;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Landing;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Landing {
	position: absolute;
	width: 1280px;
	height: 2598px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Landing;
	--web-view-id: Landing;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#__102 {
	position: absolute;
	width: 1315.677px;
	height: 649.98px;
	left: -35.677px;
	top: 50.02px;
	overflow: visible;
}
.___769 {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.404));
	overflow: visible;
	position: absolute;
	width: 1180.404px;
	height: 667.98px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.___770 {
	filter: drop-shadow(5px 0px 3px rgba(0, 0, 0, 0.2));
	overflow: visible;
	position: absolute;
	width: 1209.773px;
	height: 269.068px;
	left: 115.404px;
	top: 389.911px;
	transform: matrix(1,0,0,1,0,0);
}
.___1005 {
	overflow: visible;
	position: absolute;
	width: 1280px;
	height: 540px;
	left: 0px;
	top: 700px;
	transform: matrix(1,0,0,1,0,0);
}
.___4 {
	overflow: visible;
	position: absolute;
	width: 1279.959px;
	height: 1px;
	left: 0px;
	top: 1505.534px;
	transform: matrix(1,0,0,1,0,0);
}
.___3 {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.486));
	overflow: visible;
	position: absolute;
	width: 1299.245px;
	height: 559.136px;
	left: 0.041px;
	top: 700px;
	transform: matrix(1,0,0,1,0,0);
}
#CovidCheatSheet {
	position: absolute;
	left: 373px;
	top: 191px;
	overflow: visible;
	width: 804px;
	height: 126px;
	text-align: center;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	color: rgba(112,112,112,1);
}
.___4_r {
	position: absolute;
	overflow: visible;
	width: 1280px;
	height: 540px;
	left: 0px;
	top: 1640px;
}
.___5 {
	position: absolute;
	overflow: visible;
	width: 1280px;
	height: 400px;
	left: 0px;
	top: 1240px;
}
#What_Is_Happening_ {
	position: absolute;
	left: 365px;
	top: 854px;
	overflow: visible;
	width: 552px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(112,112,112,1);
}
#What_Can_I_do_ {
	position: absolute;
	left: 424.5px;
	top: 1294px;
	overflow: visible;
	width: 432px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(112,112,112,1);
}
#I_Have_More_Questions {
	position: absolute;
	left: 326.5px;
	top: 1708px;
	overflow: visible;
	width: 629px;
	white-space: nowrap;
	text-align: center;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(112,112,112,1);
}
#Don_t_hesitate_to_ask {
	position: absolute;
	left: 457px;
	top: 1780px;
	overflow: visible;
	width: 367px;
	height: 44px;
	text-align: center;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(112,112,112,1);
}
.___1011 {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 688px;
	height: 101px;
	left: 195px;
	top: 1837px;
	transform: matrix(1,0,0,1,0,0);
}
#___13___1 {
	position: absolute;
	width: 193px;
	height: 109px;
	left: 892px;
	top: 1831px;
	overflow: visible;
}
.___1012 {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 211px;
	height: 101px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Submit_ {
	position: absolute;
	left: 40px;
	top: 21px;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	text-align: center;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(112,112,112,1);
}
#__213 {
	position: absolute;
	width: 1079px;
	height: 131px;
	left: 100px;
	top: 511px;
	overflow: visible;
}
#___2___2 {
	position: absolute;
	width: 277px;
	height: 119px;
	left: 406px;
	top: 12px;
	overflow: visible;
}
.___25 {
	position: absolute;
	overflow: visible;
	width: 277px;
	height: 119px;
	left: 0px;
	top: 0px;
}
.___1576 {
	overflow: visible;
	position: absolute;
	width: 277px;
	height: 119px;
	left: 398px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#What_Can_I_do__ {
	position: absolute;
	left: 432.5px;
	top: 40.683px;
	overflow: visible;
	width: 216px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
#___2___2_ {
	position: absolute;
	width: 277px;
	height: 119px;
	left: 802px;
	top: 12px;
	overflow: visible;
}
.___25_ {
	position: absolute;
	overflow: visible;
	width: 277px;
	height: 119px;
	left: 0px;
	top: 0px;
}
#___2___1 {
	position: absolute;
	width: 277px;
	height: 119px;
	left: 794px;
	top: 0px;
	overflow: visible;
}
.___25_ba {
	position: absolute;
	overflow: visible;
	width: 277px;
	height: 119px;
	left: 0px;
	top: 0px;
}
#Ask_Experts_ {
	position: absolute;
	left: 51.5px;
	top: 40.683px;
	overflow: visible;
	width: 176px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
#___2___2_bb {
	position: absolute;
	width: 277px;
	height: 119px;
	left: 8px;
	top: 12px;
	overflow: visible;
}
.___25_bc {
	position: absolute;
	overflow: visible;
	width: 277px;
	height: 119px;
	left: 0px;
	top: 0px;
}
.___1577 {
	overflow: visible;
	position: absolute;
	width: 277px;
	height: 119px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#What_is_Happening_ {
	position: absolute;
	left: 32px;
	top: 19.829px;
	overflow: visible;
	width: 226px;
	height: 103px;
	text-align: center;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
#__222 {
	position: absolute;
	width: 180px;
	height: 180px;
	left: 860px;
	top: 940px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: What_is_happening.html;
	cursor: pointer;
}
.___24 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 198px;
	height: 198px;
	left: 0px;
	top: 0px;
}
#____7 {
	position: absolute;
	width: 180px;
	height: 180px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#__220 {
	position: absolute;
	width: 180px;
	height: 180px;
	left: 420px;
	top: 940px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: What_is_happening.html;
	cursor: pointer;
}
.___22 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 198px;
	height: 198px;
	left: 0px;
	top: 0px;
}
#____9 {
	position: absolute;
	width: 180px;
	height: 180px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#__219 {
	position: absolute;
	width: 180px;
	height: 180px;
	left: 200px;
	top: 940px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: What_is_happening.html;
	cursor: pointer;
}
.___1107 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 198px;
	height: 198px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#____11 {
	position: absolute;
	width: 148px;
	height: 109px;
	left: 16px;
	top: 36px;
	overflow: visible;
}
#___16___1 {
	position: absolute;
	width: 1190px;
	height: 177px;
	left: 45px;
	top: 1406px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: What_Can_I_do.html;
	cursor: pointer;
}
#___14___1 {
	position: absolute;
	width: 1190px;
	height: 99px;
	left: 0px;
	top: 78px;
	overflow: visible;
}
.___17 {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 117px;
	left: 0px;
	top: 0px;
}
#Take_Care_of_Yourself {
	position: absolute;
	left: 56.5px;
	top: 31.292px;
	overflow: visible;
	width: 273px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(112,112,112,1);
}
.___23 {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 117px;
	left: 403px;
	top: 0px;
}
#Take_Care_of_Others {
	position: absolute;
	left: 450.5px;
	top: 27.568px;
	overflow: visible;
	width: 291px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(112,112,112,1);
}
.___24_c {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 117px;
	left: 806px;
	top: 0px;
}
#Pay_Attention_to_the_World {
	position: absolute;
	left: 840.5px;
	top: 33.846px;
	overflow: visible;
	width: 317px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(112,112,112,1);
}
#____13 {
	position: absolute;
	width: 102px;
	height: 102px;
	left: 544px;
	top: 0px;
	overflow: visible;
}
#___15___1 {
	position: absolute;
	width: 102px;
	height: 102px;
	left: 152px;
	top: 0px;
	overflow: visible;
}
.___59_ep {
	position: absolute;
	overflow: visible;
	width: 102px;
	height: 102px;
	left: 0px;
	top: 0px;
}
#____14 {
	position: absolute;
	width: 102px;
	height: 102px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#____16 {
	position: absolute;
	width: 102px;
	height: 102px;
	left: 941px;
	top: 0px;
	overflow: visible;
}
#up_arrow {
	transform: matrix(1,0,0,1,1155.3334,2050.3333) rotate(90deg);
	transform-origin: center;
	position: absolute;
	width: 94.333px;
	height: 85px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.___78_fc {
	position: absolute;
	overflow: visible;
	width: 85px;
	height: 94.333px;
	left: 0px;
	top: 0px;
}
.Icon_open_arrow_thick_bottom {
	overflow: visible;
	position: absolute;
	width: 51.734px;
	height: 68.979px;
	transform: translate(232.334px, -29px) matrix(1,0,0,1,48.8225,156.4001) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#menu_button {
	position: absolute;
	width: 94.333px;
	height: 85px;
	left: 1145px;
	top: 35px;
	overflow: visible;
}
.___60_ff {
	position: absolute;
	overflow: visible;
	width: 94.333px;
	height: 85px;
	left: 0px;
	top: 0px;
}
#__145 {
	position: absolute;
	width: 50px;
	height: 38px;
	left: 22px;
	top: 23.666px;
	overflow: visible;
}
.___62_fh {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 8px;
	left: 0px;
	top: 0px;
}
.___63_fi {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 8px;
	left: 0px;
	top: 15px;
}
.___64_fj {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 8px;
	left: 0px;
	top: 30px;
}
#__223 {
	position: absolute;
	width: 440px;
	height: 80px;
	left: 420px;
	top: 2020px;
	overflow: visible;
}
.___70_fl {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.2));
	position: absolute;
	overflow: visible;
	width: 458px;
	height: 98px;
	left: 0px;
	top: 0px;
}
#Connect_with_an_expert_ {
	position: absolute;
	left: 460px;
	top: 2040px;
	overflow: visible;
	width: 361px;
	height: 60px;
	text-align: center;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
#Or_you_can_ {
	position: absolute;
	left: 457px;
	top: 1956px;
	overflow: visible;
	width: 367px;
	height: 44px;
	text-align: center;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(112,112,112,1);
}
#About_The_Project {
	position: absolute;
	left: 473px;
	top: 2220px;
	overflow: visible;
	width: 335px;
	white-space: nowrap;
	text-align: center;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(112,112,112,1);
}
#This_website_is_created_by_Yao {
	position: absolute;
	left: 107px;
	top: 2280px;
	overflow: visible;
	width: 1067px;
	height: 44px;
	text-align: center;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Many_thanks_to_those_who_provi {
	position: absolute;
	left: 107px;
	top: 2316px;
	overflow: hidden;
	width: 1067px;
	height: 24px;
	text-align: center;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Websites__ {
	position: absolute;
	left: 240px;
	top: 2360px;
	overflow: visible;
	width: 181px;
	height: 160px;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Translators__ {
	position: absolute;
	left: 460px;
	top: 2360px;
	overflow: visible;
	width: 181px;
	height: 160px;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Partners__ {
	position: absolute;
	left: 680px;
	top: 2360px;
	overflow: visible;
	width: 181px;
	height: 160px;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Icon_Artists_ {
	position: absolute;
	left: 900px;
	top: 2360px;
	overflow: visible;
	width: 181px;
	height: 160px;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#__231 {
	position: absolute;
	width: 180px;
	height: 180px;
	left: 640px;
	top: 940px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: What_is_happening.html;
	cursor: pointer;
}
.___23_fw {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 198px;
	height: 198px;
	left: 0px;
	top: 0px;
}
#ID009_world {
	position: absolute;
	width: 139.998px;
	height: 140px;
	left: 27px;
	top: 27px;
	overflow: visible;
}
.___1266 {
	overflow: visible;
	position: absolute;
	width: 96.417px;
	height: 95.878px;
	left: 16.86px;
	top: 15.595px;
	transform: matrix(1,0,0,1,0,0);
}
.___1267 {
	overflow: visible;
	position: absolute;
	width: 85.559px;
	height: 85.546px;
	left: 15.589px;
	top: 27.714px;
	transform: matrix(1,0,0,1,0,0);
}
.___1268 {
	overflow: visible;
	position: absolute;
	width: 93.965px;
	height: 94.859px;
	left: 19.361px;
	top: 15.542px;
	transform: matrix(1,0,0,1,0,0);
}
#__269 {
	position: absolute;
	width: 128.493px;
	height: 128.476px;
	left: 0.389px;
	top: 0.411px;
	overflow: visible;
}
.___1269 {
	overflow: visible;
	position: absolute;
	width: 4.443px;
	height: 4.445px;
	left: 21.69px;
	top: 35.133px;
	transform: matrix(1,0,0,1,0,0);
}
.___1270 {
	overflow: visible;
	position: absolute;
	width: 46.388px;
	height: 14.748px;
	left: 38.464px;
	top: 98.171px;
	transform: matrix(1,0,0,1,0,0);
}
.___1271 {
	overflow: visible;
	position: absolute;
	width: 4.894px;
	height: 4.445px;
	left: 15.149px;
	top: 61.802px;
	transform: matrix(1,0,0,1,0,0);
}
.___1272 {
	overflow: visible;
	position: absolute;
	width: 11.03px;
	height: 4.445px;
	left: 21.691px;
	top: 88.472px;
	transform: matrix(1,0,0,1,0,0);
}
.___1273 {
	overflow: visible;
	position: absolute;
	width: 8.728px;
	height: 4.587px;
	left: 57.631px;
	top: 123.889px;
	transform: matrix(1,0,0,1,0,0);
}
.___1274 {
	overflow: visible;
	position: absolute;
	width: 8.383px;
	height: 6.374px;
	left: 32.542px;
	top: 116.726px;
	transform: matrix(1,0,0,1,0,0);
}
.___1275 {
	overflow: visible;
	position: absolute;
	width: 7.247px;
	height: 7.809px;
	left: 12.608px;
	top: 99.895px;
	transform: matrix(1,0,0,1,0,0);
}
.___1276 {
	overflow: visible;
	position: absolute;
	width: 5.62px;
	height: 8.664px;
	left: 1.309px;
	top: 76.393px;
	transform: matrix(1,0,0,1,0,0);
}
.___1277 {
	overflow: visible;
	position: absolute;
	width: 4.598px;
	height: 8.822px;
	left: 123.895px;
	top: 57.41px;
	transform: matrix(1,0,0,1,0,0);
}
.___1278 {
	overflow: visible;
	position: absolute;
	width: 5.097px;
	height: 8.776px;
	left: 0px;
	top: 50.313px;
	transform: matrix(1,0,0,1,0,0);
}
.___1279 {
	overflow: visible;
	position: absolute;
	width: 6.382px;
	height: 8.369px;
	left: 116.657px;
	top: 32.358px;
	transform: matrix(1,0,0,1,0,0);
}
.___1280 {
	overflow: visible;
	position: absolute;
	width: 6.823px;
	height: 8.125px;
	left: 8.362px;
	top: 26.249px;
	transform: matrix(1,0,0,1,0,0);
}
.___1281 {
	overflow: visible;
	position: absolute;
	width: 7.818px;
	height: 7.239px;
	left: 99.77px;
	top: 12.478px;
	transform: matrix(1,0,0,1,0,0);
}
.___1282 {
	overflow: visible;
	position: absolute;
	width: 8.114px;
	height: 6.833px;
	left: 26.127px;
	top: 8.435px;
	transform: matrix(1,0,0,1,0,0);
}
.___1283 {
	overflow: visible;
	position: absolute;
	width: 8.67px;
	height: 5.607px;
	left: 76.215px;
	top: 1.244px;
	transform: matrix(1,0,0,1,0,0);
}
.___1284 {
	overflow: visible;
	position: absolute;
	width: 8.774px;
	height: 5.113px;
	left: 50.137px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.___1285 {
	overflow: visible;
	position: absolute;
	width: 6.641px;
	height: 4.801px;
	left: 71.127px;
	top: 123.452px;
	transform: matrix(1,0,0,1,0,0);
}
.___1286 {
	overflow: visible;
	position: absolute;
	width: 8.695px;
	height: 5.494px;
	left: 45.1px;
	top: 122.064px;
	transform: matrix(1,0,0,1,0,0);
}
.___1287 {
	overflow: visible;
	position: absolute;
	width: 7.887px;
	height: 7.153px;
	left: 22.076px;
	top: 109.772px;
	transform: matrix(1,0,0,1,0,0);
}
.___1288 {
	overflow: visible;
	position: absolute;
	width: 6.48px;
	height: 8.321px;
	left: 6.101px;
	top: 89.155px;
	transform: matrix(1,0,0,1,0,0);
}
.___1289 {
	overflow: visible;
	position: absolute;
	width: 4.705px;
	height: 8.815px;
	left: 0px;
	top: 63.801px;
	transform: matrix(1,0,0,1,0,0);
}
.___1290 {
	overflow: visible;
	position: absolute;
	width: 5.511px;
	height: 8.692px;
	left: 121.999px;
	top: 44.909px;
	transform: matrix(1,0,0,1,0,0);
}
.___1291 {
	overflow: visible;
	position: absolute;
	width: 5.998px;
	height: 8.547px;
	left: 3.252px;
	top: 38.157px;
	transform: matrix(1,0,0,1,0,0);
}
.___1292 {
	overflow: visible;
	position: absolute;
	width: 7.163px;
	height: 7.877px;
	left: 109.65px;
	top: 21.942px;
	transform: matrix(1,0,0,1,0,0);
}
.___1293 {
	overflow: visible;
	position: absolute;
	width: 7.536px;
	height: 7.545px;
	left: 16.631px;
	top: 16.749px;
	transform: matrix(1,0,0,1,0,0);
}
.___1294 {
	overflow: visible;
	position: absolute;
	width: 8.331px;
	height: 6.473px;
	left: 88.979px;
	top: 6.018px;
	transform: matrix(1,0,0,1,0,0);
}
.___1295 {
	overflow: visible;
	position: absolute;
	width: 8.531px;
	height: 6.007px;
	left: 37.98px;
	top: 3.318px;
	transform: matrix(1,0,0,1,0,0);
}
.___1296 {
	overflow: visible;
	position: absolute;
	width: 8.817px;
	height: 4.692px;
	left: 63.594px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.___1297 {
	overflow: visible;
	position: absolute;
	width: 4.801px;
	height: 6.637px;
	left: 123.449px;
	top: 71.136px;
	transform: matrix(1,0,0,1,0,0);
}
#__271 {
	position: absolute;
	width: 57.696px;
	height: 57.695px;
	left: 82.303px;
	top: 82.305px;
	overflow: visible;
}
.___1298 {
	overflow: visible;
	position: absolute;
	width: 56.839px;
	height: 56.577px;
	left: 0.856px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.___1299 {
	overflow: visible;
	position: absolute;
	width: 35.505px;
	height: 4.438px;
	transform: translate(0px, 0px) matrix(0.9998,0,0,0.9998,11.1217,26.6288) rotate(135deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.___319 {
	position: absolute;
	overflow: visible;
	width: 4.438px;
	height: 4.438px;
	left: 39.182px;
	top: 14.076px;
}
.___320 {
	position: absolute;
	overflow: visible;
	width: 4.438px;
	height: 4.438px;
	left: 14.076px;
	top: 39.182px;
}
.___1300 {
	overflow: visible;
	position: absolute;
	width: 35.505px;
	height: 4.438px;
	transform: translate(0px, 0px) matrix(0.9998,0,0,0.9998,11.0981,26.6052) rotate(45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.___321 {
	position: absolute;
	overflow: visible;
	width: 4.438px;
	height: 4.438px;
	left: 14.076px;
	top: 14.076px;
}
.___322 {
	position: absolute;
	overflow: visible;
	width: 4.438px;
	height: 4.438px;
	left: 39.182px;
	top: 39.182px;
}
.___1301 {
	overflow: visible;
	position: absolute;
	width: 35.505px;
	height: 4.438px;
	transform: translate(0px, 0px) matrix(1,0,0,1,11.0954,26.6286) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.___323 {
	position: absolute;
	overflow: visible;
	width: 4.438px;
	height: 4.438px;
	left: 26.629px;
	top: 8.876px;
}
.___324 {
	position: absolute;
	overflow: visible;
	width: 4.438px;
	height: 4.438px;
	left: 26.629px;
	top: 44.381px;
}
.___1302 {
	overflow: visible;
	position: absolute;
	width: 35.505px;
	height: 4.438px;
	left: 11.096px;
	top: 26.629px;
	transform: matrix(1,0,0,1,0,0);
}
.___1303 {
	overflow: visible;
	position: absolute;
	width: 21.328px;
	height: 21.486px;
	left: 18.616px;
	top: 17.752px;
	transform: matrix(1,0,0,1,0,0);
}
.___1304 {
	overflow: visible;
	position: absolute;
	width: 20.438px;
	height: 20.431px;
	left: 17.753px;
	top: 19.512px;
	transform: matrix(1,0,0,1,0,0);
}
#__270 {
	position: absolute;
	width: 39.943px;
	height: 10.124px;
	left: 8.877px;
	top: 24.687px;
	overflow: visible;
}
.___1305 {
	overflow: visible;
	position: absolute;
	width: 4.447px;
	height: 4.438px;
	left: 21.534px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.___1306 {
	overflow: visible;
	position: absolute;
	width: 4.447px;
	height: 4.438px;
	left: 17.741px;
	top: 5.686px;
	transform: matrix(1,0,0,1,0,0);
}
.___1307 {
	overflow: visible;
	position: absolute;
	width: 4.449px;
	height: 4.438px;
	left: 13.949px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.___325 {
	position: absolute;
	overflow: visible;
	width: 4.438px;
	height: 4.438px;
	left: 0px;
	top: 1.942px;
}
.___326 {
	position: absolute;
	overflow: visible;
	width: 4.438px;
	height: 4.438px;
	left: 35.505px;
	top: 1.942px;
}
.___1308 {
	overflow: visible;
	position: absolute;
	width: 51.013px;
	height: 51.008px;
	left: 0px;
	top: 6.687px;
	transform: matrix(1,0,0,1,0,0);
}
.___131_hg {
	position: absolute;
	overflow: visible;
	width: 1280px;
	height: 20px;
	left: 0px;
	top: 0px;
}