.mediaViewInfo {
	--web-view-name: Wash Hands;
	--web-view-id: Wash_Hands;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Wash_Hands;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	scroll-behavior: smooth;
}
#Wash_Hands {
	position: absolute;
	width: 1280px;
	height: 3739px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Wash Hands;
	--web-view-id: Wash_Hands;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-center-horizontally: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Washing_Your_Hands {
	position: absolute;
	left: 270px;
	top: 78px;
	overflow: visible;
	width: 767px;
	white-space: nowrap;
	text-align: center;
	color: rgba(112,112,112,1);
}
#quiz_button {
	position: absolute;
	width: 508px;
	height: 80px;
	left: 386px;
	top: 3480px;
	overflow: visible;
}
.___1582 {
	filter: drop-shadow(5px 3px 5px rgba(0, 0, 0, 0.302));
	overflow: visible;
	position: absolute;
	width: 523px;
	height: 100px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Take_the_Quiz {
	position: relative;
	top: 25px;
	white-space: nowrap;
	text-align: center;
	color: rgba(112,112,112,1);
}
#how_button {
	position: absolute;
	width: 287px;
	height: 125.426px;
	left: 498px;
	top: 201px;
	overflow: visible;
}
.___25 {
	position: absolute;
	overflow: visible;
	width: 277px;
	height: 103px;
	left: 10px;
	top: 12px;
}
.___25_q {
	position: absolute;
	overflow: visible;
	width: 277px;
	height: 103px;
	left: 0px;
	top: 0px;
}
#HOW_to_do_it_correctly {
	position: absolute;
	left: 25.5px;
	top: 18.426px;
	overflow: visible;
	width: 235px;
	height: 107px;
	text-align: center;
	color: rgba(112,112,112,1);
}
#why_button {
	position: absolute;
	width: 285px;
	height: 115px;
	left: 904px;
	top: 201px;
	overflow: visible;
}
.___25_t {
	position: absolute;
	overflow: visible;
	width: 277px;
	height: 103px;
	left: 8px;
	top: 12px;
}
.___25_u {
	position: absolute;
	overflow: visible;
	width: 277px;
	height: 103px;
	left: 0px;
	top: 0px;
}
#WHY_is_it_so_important_ {
	position: absolute;
	left: 26.5px;
	top: 12.426px;
	overflow: visible;
	width: 236px;
	height: 91px;
	text-align: center;
	color: rgba(112,112,112,1);
}
#when_button {
	position: absolute;
	width: 285px;
	height: 131.426px;
	left: 92px;
	top: 201px;
	overflow: visible;
}
.___25_x {
	position: absolute;
	overflow: visible;
	width: 277px;
	height: 103px;
	left: 8px;
	top: 12px;
}
.___25_y {
	position: absolute;
	overflow: visible;
	width: 277px;
	height: 103px;
	left: 0px;
	top: 0px;
}
#WHEN_should_I_wash_my_hands {
	position: absolute;
	left: 15.5px;
	top: 12.426px;
	overflow: visible;
	width: 250px;
	height: 119px;
	text-align: center;
	color: rgba(112,112,112,1);
}
#when_block {
	position: absolute;
	width: 1280px;
	height: 1814.226px;
	left: 0px;
	top: 313.774px;
	overflow: visible;
}
.___46 {
	position: absolute;
	overflow: visible;
	width: 1280px;
	height: 1686px;
	left: 0px;
	top: 128.226px;
}
.___47 {
	position: absolute;
	overflow: visible;
	width: 278px;
	height: 113px;
	left: 38px;
	top: 58.226px;
}
.___1010 {
	overflow: visible;
	position: absolute;
	width: 1207px;
	height: 805px;
	left: 0px;
	top: 1009.226px;
	transform: matrix(1,0,0,1,0,0);
}
.___780 {
	overflow: visible;
	position: absolute;
	width: 1185px;
	height: 354px;
	left: 95px;
	top: 625.226px;
	transform: matrix(1,0,0,1,0,0);
}
.___1009 {
	overflow: visible;
	position: absolute;
	width: 1221px;
	height: 371px;
	left: 0px;
	top: 220.226px;
	transform: matrix(1,0,0,1,0,0);
}
#WHEN_ {
	position: absolute;
	left: 60px;
	top: 80px;
	overflow: visible;
	width: 272px;
	height: 85px;
	text-align: left;
	color: rgba(255,255,255,1);
}
#You_are_dealing_with_food_ {
	position: absolute;
	left: 95px;
	top: 246.226px;
	overflow: hidden;
	width: 710px;
	height: 44px;
	text-align: left;
	color: rgba(112,112,112,1);
}
#Before__during__and_after_prep {
	position: absolute;
	left: 352.5px;
	top: 337.726px;
	overflow: visible;
	width: 586px;
	height: 113px;
	text-align: left;
	color: rgba(112,112,112,1);
}
#You_were_near_someone_that_is_ {
	position: absolute;
	left: 258px;
	top: 661.226px;
	overflow: hidden;
	width: 907px;
	height: 44px;
	text-align: left;
	color: rgba(112,112,112,1);
}
#You_just_ {
	position: absolute;
	left: 35px;
	top: 1042.226px;
	overflow: visible;
	width: 823px;
	height: 44px;
	text-align: left;
	color: rgba(112,112,112,1);
}
#Before_and_after_caring_for_so {
	position: absolute;
	left: 382.5px;
	top: 750.726px;
	overflow: hidden;
	width: 738px;
	height: 99px;
	text-align: left;
	color: rgba(112,112,112,1);
}
#Went_to_the_public {
	position: absolute;
	left: 388.5px;
	top: 1584.726px;
	overflow: visible;
	width: 369px;
	height: 44px;
	text-align: left;
	color: rgba(112,112,112,1);
}
#ID001_washing_hands {
	position: absolute;
	width: 149.5px;
	height: 174.887px;
	left: 763px;
	top: 0px;
	overflow: visible;
}
.___242 {
	overflow: visible;
	position: absolute;
	width: 143.345px;
	height: 152.832px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.___243 {
	overflow: visible;
	position: absolute;
	width: 124.525px;
	height: 97.482px;
	left: 12.083px;
	top: 51.589px;
	transform: matrix(1,0,0,1,0,0);
}
.___244 {
	overflow: visible;
	position: absolute;
	width: 147.111px;
	height: 98.873px;
	left: 2.389px;
	top: 15.116px;
	transform: matrix(1,0,0,1,0,0);
}
.___245 {
	overflow: visible;
	position: absolute;
	width: 143.346px;
	height: 152.832px;
	left: 1.32px;
	top: 22.055px;
	transform: matrix(1,0,0,1,0,0);
}
#__21 {
	position: absolute;
	width: 57.306px;
	height: 66.883px;
	left: 72.038px;
	top: 40.885px;
	overflow: visible;
}
.___246 {
	overflow: visible;
	position: absolute;
	width: 36.892px;
	height: 36.85px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.___247 {
	overflow: visible;
	position: absolute;
	width: 35.729px;
	height: 35.688px;
	left: 14.951px;
	top: 16.113px;
	transform: matrix(1,0,0,1,0,0);
}
.___248 {
	overflow: visible;
	position: absolute;
	width: 27.405px;
	height: 27.497px;
	left: 29.9px;
	top: 39.386px;
	transform: matrix(1,0,0,1,0,0);
}
#Before_eating_food {
	position: absolute;
	left: 353.5px;
	top: 451.726px;
	overflow: visible;
	width: 223px;
	height: 91px;
	text-align: left;
	color: rgba(112,112,112,1);
}
#cooking {
	position: absolute;
	width: 239.221px;
	height: 254.531px;
	left: 922.242px;
	top: 257.226px;
	overflow: visible;
}
#__25 {
	position: absolute;
	width: 131.138px;
	height: 254.531px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#XMLID_165_ {
	position: absolute;
	width: 37.432px;
	height: 131.203px;
	left: 29.794px;
	top: 123.328px;
	overflow: visible;
}
.___352 {
	overflow: visible;
	position: absolute;
	width: 37.432px;
	height: 131.203px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#XMLID_163_ {
	position: absolute;
	width: 32.204px;
	height: 131.202px;
	left: 0px;
	top: 123.329px;
	overflow: visible;
}
.___353 {
	overflow: visible;
	position: absolute;
	width: 32.205px;
	height: 131.202px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.___90 {
	width: 43.595px;
	height: 43.595px;
	position: absolute;
	overflow: visible;
	transform: translate(0px, 0px) matrix(1.0002,0,0,1.0002,54.7366,7.2552) rotate(-64.537deg);
	transform-origin: center;
}
#__23 {
	position: absolute;
	width: 48.546px;
	height: 43.289px;
	left: 82.592px;
	top: 37.993px;
	overflow: visible;
}
.___354 {
	overflow: visible;
	position: absolute;
	width: 48.546px;
	height: 43.289px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#__24 {
	position: absolute;
	width: 70.518px;
	height: 93.486px;
	left: 2.816px;
	top: 52.037px;
	overflow: visible;
}
.___355 {
	overflow: visible;
	position: absolute;
	width: 70.518px;
	height: 93.486px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#XMLID_166_ {
	position: absolute;
	width: 82.143px;
	height: 48.039px;
	left: 39.596px;
	top: 55.014px;
	overflow: visible;
}
.___356 {
	overflow: visible;
	position: absolute;
	width: 60.807px;
	height: 48.039px;
	left: 21.335px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.___357 {
	overflow: visible;
	position: absolute;
	width: 34.843px;
	height: 32.818px;
	left: 0px;
	top: 1.077px;
	transform: matrix(1,0,0,1,0,0);
}
.___358 {
	overflow: visible;
	position: absolute;
	width: 11.424px;
	height: 18.047px;
	left: 101.608px;
	top: 19.942px;
	transform: matrix(1,0,0,1,0,0);
}
#__29 {
	position: absolute;
	width: 126.68px;
	height: 199.999px;
	left: 112.541px;
	top: 54.532px;
	overflow: visible;
}
.___359 {
	overflow: visible;
	position: absolute;
	width: 12.425px;
	height: 17.592px;
	left: 0px;
	top: 89.948px;
	transform: matrix(1,0,0,1,0,0);
}
#__26 {
	position: absolute;
	width: 92.958px;
	height: 12.939px;
	left: 22.49px;
	top: 71.829px;
	overflow: visible;
}
.___360 {
	overflow: visible;
	position: absolute;
	width: 35.967px;
	height: 12.54px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.___361 {
	overflow: visible;
	position: absolute;
	width: 35.967px;
	height: 12.54px;
	left: 56.992px;
	top: 0.399px;
	transform: matrix(1,0,0,1,0,0);
}
.___362 {
	overflow: visible;
	position: absolute;
	width: 53.074px;
	height: 35.307px;
	left: 14.349px;
	top: 36.646px;
	transform: matrix(1,0,0,1,0,0);
}
#__27 {
	position: absolute;
	width: 60.506px;
	height: 8.584px;
	left: 10.633px;
	top: 32.355px;
	overflow: visible;
}
.___363 {
	overflow: visible;
	position: absolute;
	width: 60.506px;
	height: 8.584px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.___364 {
	overflow: visible;
	position: absolute;
	width: 7.463px;
	height: 19.746px;
	left: 39.252px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.___365 {
	overflow: visible;
	position: absolute;
	width: 119.763px;
	height: 121.502px;
	left: 6.917px;
	top: 78.498px;
	transform: matrix(1,0,0,1,0,0);
}
.___366 {
	overflow: visible;
	position: absolute;
	width: 85.495px;
	height: 86.736px;
	left: 24.051px;
	top: 95.88px;
	transform: matrix(1,0,0,1,0,0);
}
#__28 {
	position: absolute;
	width: 22.297px;
	height: 10.523px;
	left: 29.738px;
	top: 40.938px;
	overflow: visible;
}
.___367 {
	overflow: visible;
	position: absolute;
	width: 22.297px;
	height: 10.523px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#dinner {
	position: absolute;
	width: 171.351px;
	height: 158.5px;
	left: 100px;
	top: 346.226px;
	overflow: visible;
}
#__31 {
	position: absolute;
	width: 37.126px;
	height: 37.126px;
	left: 97.099px;
	top: 24.275px;
	overflow: visible;
}
#__30 {
	position: absolute;
	width: 37.126px;
	height: 37.126px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.___368 {
	overflow: visible;
	position: absolute;
	width: 37.126px;
	height: 37.126px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#__32 {
	position: absolute;
	width: 25.703px;
	height: 31.414px;
	left: 97.099px;
	top: 24.275px;
	overflow: visible;
}
.___369 {
	overflow: visible;
	position: absolute;
	width: 25.703px;
	height: 31.414px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#__33 {
	position: absolute;
	width: 137.081px;
	height: 85.675px;
	left: 17.135px;
	top: 49.977px;
	overflow: visible;
}
.___370 {
	overflow: visible;
	position: absolute;
	width: 137.081px;
	height: 85.675px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#__34 {
	position: absolute;
	width: 137.081px;
	height: 44.422px;
	left: 17.135px;
	top: 91.231px;
	overflow: visible;
}
.___371 {
	overflow: visible;
	position: absolute;
	width: 137.081px;
	height: 44.422px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#__37 {
	position: absolute;
	width: 30.463px;
	height: 30.463px;
	left: 112.33px;
	top: 115.662px;
	overflow: visible;
}
#__35 {
	position: absolute;
	width: 30.463px;
	height: 30.463px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.___91 {
	position: absolute;
	overflow: visible;
	width: 30.462px;
	height: 30.463px;
	left: 0px;
	top: 0px;
}
#__36 {
	position: absolute;
	width: 14.279px;
	height: 14.279px;
	left: 2.38px;
	top: 2.38px;
	overflow: visible;
}
.___372 {
	overflow: visible;
	position: absolute;
	width: 14.279px;
	height: 14.279px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#__40 {
	position: absolute;
	width: 30.463px;
	height: 30.463px;
	left: 28.559px;
	top: 115.662px;
	overflow: visible;
}
#__38 {
	position: absolute;
	width: 30.463px;
	height: 30.463px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.___92 {
	position: absolute;
	overflow: visible;
	width: 30.462px;
	height: 30.463px;
	left: 0px;
	top: 0px;
}
#__39 {
	position: absolute;
	width: 14.279px;
	height: 14.279px;
	left: 2.38px;
	top: 2.38px;
	overflow: visible;
}
.___373 {
	overflow: visible;
	position: absolute;
	width: 14.279px;
	height: 14.279px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#__41 {
	position: absolute;
	width: 39.268px;
	height: 39.268px;
	left: 23.561px;
	top: 56.403px;
	overflow: visible;
}
.___374 {
	overflow: visible;
	position: absolute;
	width: 39.268px;
	height: 39.268px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#__42 {
	position: absolute;
	width: 171.351px;
	height: 11.423px;
	left: 0px;
	top: 135.653px;
	overflow: visible;
}
.___375 {
	overflow: visible;
	position: absolute;
	width: 171.351px;
	height: 11.423px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#__43 {
	position: absolute;
	width: 127.561px;
	height: 11.423px;
	left: 21.895px;
	top: 147.076px;
	overflow: visible;
}
.___376 {
	overflow: visible;
	position: absolute;
	width: 127.562px;
	height: 11.423px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#__44 {
	position: absolute;
	width: 62.829px;
	height: 62.829px;
	left: 51.405px;
	top: 44.265px;
	overflow: visible;
}
.___377 {
	overflow: visible;
	position: absolute;
	width: 62.829px;
	height: 62.829px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#__45 {
	position: absolute;
	width: 42.138px;
	height: 36.412px;
	left: 57.831px;
	top: 50.691px;
	overflow: visible;
}
.___378 {
	overflow: visible;
	position: absolute;
	width: 42.138px;
	height: 36.412px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#__46 {
	position: absolute;
	width: 13.288px;
	height: 31.414px;
	left: 61.896px;
	top: 0px;
	overflow: visible;
}
.___379 {
	overflow: visible;
	position: absolute;
	width: 13.288px;
	height: 31.414px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#__47 {
	position: absolute;
	width: 13.288px;
	height: 31.414px;
	left: 90.455px;
	top: 0px;
	overflow: visible;
}
.___380 {
	overflow: visible;
	position: absolute;
	width: 13.288px;
	height: 31.414px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#__48 {
	position: absolute;
	width: 13.288px;
	height: 31.414px;
	left: 33.338px;
	top: 0px;
	overflow: visible;
}
.___381 {
	overflow: visible;
	position: absolute;
	width: 13.288px;
	height: 31.414px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#__49 {
	position: absolute;
	width: 159.927px;
	height: 11.423px;
	left: 5.712px;
	top: 124.229px;
	overflow: visible;
}
.___382 {
	overflow: visible;
	position: absolute;
	width: 159.927px;
	height: 11.423px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Before_and_after_treating_a_cu {
	position: absolute;
	left: 382.5px;
	top: 895.726px;
	overflow: hidden;
	width: 840px;
	height: 61px;
	text-align: left;
	color: rgba(112,112,112,1);
}
#ID012_dogs {
	position: absolute;
	width: 160.5px;
	height: 160.5px;
	left: 950px;
	top: 1391.726px;
	overflow: visible;
}
.___387 {
	overflow: visible;
	position: absolute;
	width: 56.837px;
	height: 44.242px;
	left: 89.938px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.___388 {
	overflow: visible;
	position: absolute;
	width: 33.263px;
	height: 44.242px;
	left: 113.513px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.___389 {
	overflow: visible;
	position: absolute;
	width: 56.34px;
	height: 59.312px;
	left: 14.989px;
	top: 98.474px;
	transform: matrix(1,0,0,1,0,0);
}
.___390 {
	overflow: visible;
	position: absolute;
	width: 33.014px;
	height: 59.312px;
	left: 38.315px;
	top: 98.474px;
	transform: matrix(1,0,0,1,0,0);
}
.___391 {
	overflow: visible;
	position: absolute;
	width: 28.428px;
	height: 51.754px;
	left: 0px;
	top: 31.809px;
	transform: matrix(1,0,0,1,0,0);
}
.___392 {
	overflow: visible;
	position: absolute;
	width: 17.058px;
	height: 51.754px;
	left: 11.371px;
	top: 31.809px;
	transform: matrix(1,0,0,1,0,0);
}
.___393 {
	overflow: visible;
	position: absolute;
	width: 28.428px;
	height: 51.754px;
	left: 57.89px;
	top: 31.809px;
	transform: matrix(1,0,0,1,0,0);
}
.___394 {
	overflow: visible;
	position: absolute;
	width: 19.231px;
	height: 51.754px;
	left: 67.088px;
	top: 31.809px;
	transform: matrix(1,0,0,1,0,0);
}
.___395 {
	overflow: visible;
	position: absolute;
	width: 67.453px;
	height: 72.974px;
	left: 9.433px;
	top: 38.278px;
	transform: matrix(1,0,0,1,0,0);
}
.___396 {
	overflow: visible;
	position: absolute;
	width: 33.274px;
	height: 72.974px;
	left: 43.611px;
	top: 38.278px;
	transform: matrix(1,0,0,1,0,0);
}
.___397 {
	overflow: visible;
	position: absolute;
	width: 26.781px;
	height: 27.918px;
	left: 42.221px;
	top: 38.278px;
	transform: matrix(1,0,0,1,0,0);
}
.___398 {
	overflow: visible;
	position: absolute;
	width: 25.454px;
	height: 27.918px;
	left: 43.55px;
	top: 38.278px;
	transform: matrix(1,0,0,1,0,0);
}
.___399 {
	overflow: visible;
	position: absolute;
	width: 33.081px;
	height: 15.501px;
	left: 5.944px;
	top: 144.999px;
	transform: matrix(1,0,0,1,0,0);
}
.___400 {
	overflow: visible;
	position: absolute;
	width: 18.091px;
	height: 15.501px;
	left: 20.933px;
	top: 144.999px;
	transform: matrix(1,0,0,1,0,0);
}
.___401 {
	overflow: visible;
	position: absolute;
	width: 33.081px;
	height: 15.501px;
	left: 47.294px;
	top: 144.999px;
	transform: matrix(1,0,0,1,0,0);
}
.___402 {
	overflow: visible;
	position: absolute;
	width: 18.091px;
	height: 15.501px;
	left: 62.284px;
	top: 144.999px;
	transform: matrix(1,0,0,1,0,0);
}
.___403 {
	overflow: visible;
	position: absolute;
	width: 55.874px;
	height: 13.231px;
	left: 15.223px;
	top: 83.718px;
	transform: matrix(1,0,0,1,0,0);
}
.___404 {
	overflow: visible;
	position: absolute;
	width: 18.091px;
	height: 18.09px;
	left: 34.114px;
	top: 67.979px;
	transform: matrix(1,0,0,1,0,0);
}
.___405 {
	overflow: visible;
	position: absolute;
	width: 12.922px;
	height: 18.091px;
	left: 39.283px;
	top: 67.978px;
	transform: matrix(1,0,0,1,0,0);
}
.___406 {
	overflow: visible;
	position: absolute;
	width: 51.67px;
	height: 45.857px;
	left: 94.832px;
	top: 111.446px;
	transform: matrix(1,0,0,1,0,0);
}
.___407 {
	overflow: visible;
	position: absolute;
	width: 29.284px;
	height: 45.857px;
	left: 117.217px;
	top: 111.446px;
	transform: matrix(1,0,0,1,0,0);
}
.___408 {
	overflow: visible;
	position: absolute;
	width: 26.238px;
	height: 47.705px;
	left: 80.833px;
	top: 72.64px;
	transform: matrix(1,0,0,1,0,0);
}
.___409 {
	overflow: visible;
	position: absolute;
	width: 26.238px;
	height: 47.705px;
	left: 134.262px;
	top: 72.64px;
	transform: matrix(1,0,0,1,0,0);
}
.___410 {
	overflow: visible;
	position: absolute;
	width: 17.75px;
	height: 47.705px;
	left: 142.75px;
	top: 72.64px;
	transform: matrix(1,0,0,1,0,0);
}
.___411 {
	overflow: visible;
	position: absolute;
	width: 62.254px;
	height: 67.264px;
	left: 89.54px;
	top: 59.685px;
	transform: matrix(1,0,0,1,0,0);
}
.___412 {
	overflow: visible;
	position: absolute;
	width: 30.71px;
	height: 67.264px;
	left: 121.084px;
	top: 59.685px;
	transform: matrix(1,0,0,1,0,0);
}
.___413 {
	overflow: visible;
	position: absolute;
	width: 24.718px;
	height: 25.733px;
	left: 119.801px;
	top: 59.685px;
	transform: matrix(1,0,0,1,0,0);
}
.___414 {
	overflow: visible;
	position: absolute;
	width: 23.47px;
	height: 25.733px;
	left: 121.048px;
	top: 59.685px;
	transform: matrix(1,0,0,1,0,0);
}
.___415 {
	overflow: visible;
	position: absolute;
	width: 51.931px;
	height: 12.573px;
	left: 94.701px;
	top: 101.224px;
	transform: matrix(1,0,0,1,0,0);
}
.___416 {
	overflow: visible;
	position: absolute;
	width: 16.696px;
	height: 16.696px;
	left: 112.318px;
	top: 86.877px;
	transform: matrix(1,0,0,1,0,0);
}
.___417 {
	overflow: visible;
	position: absolute;
	width: 11.926px;
	height: 16.696px;
	left: 117.088px;
	top: 86.877px;
	transform: matrix(1,0,0,1,0,0);
}
.___418 {
	overflow: visible;
	position: absolute;
	width: 30.533px;
	height: 14.209px;
	left: 86.319px;
	top: 146.291px;
	transform: matrix(1,0,0,1,0,0);
}
.___419 {
	overflow: visible;
	position: absolute;
	width: 16.696px;
	height: 14.209px;
	left: 100.153px;
	top: 146.291px;
	transform: matrix(1,0,0,1,0,0);
}
.___420 {
	overflow: visible;
	position: absolute;
	width: 30.532px;
	height: 14.106px;
	left: 124.482px;
	top: 146.381px;
	transform: matrix(1,0,0,1,0,0);
}
.___421 {
	overflow: visible;
	position: absolute;
	width: 16.697px;
	height: 14.108px;
	left: 138.316px;
	top: 146.38px;
	transform: matrix(1,0,0,1,0,0);
}
#__51 {
	position: absolute;
	width: 133.397px;
	height: 8.034px;
	left: 14.188px;
	top: 152.466px;
	overflow: visible;
}
.___422 {
	overflow: visible;
	position: absolute;
	width: 4.702px;
	height: 8.034px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.___423 {
	overflow: visible;
	position: absolute;
	width: 4.702px;
	height: 8.034px;
	left: 11.89px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.___424 {
	overflow: visible;
	position: absolute;
	width: 4.702px;
	height: 8.034px;
	left: 41.351px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.___425 {
	overflow: visible;
	position: absolute;
	width: 4.702px;
	height: 8.034px;
	left: 53.241px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.___426 {
	overflow: visible;
	position: absolute;
	width: 4.702px;
	height: 7.536px;
	left: 79.56px;
	top: 0.498px;
	transform: matrix(1,0,0,1,0,0);
}
.___427 {
	overflow: visible;
	position: absolute;
	width: 4.702px;
	height: 7.536px;
	left: 90.531px;
	top: 0.498px;
	transform: matrix(1,0,0,1,0,0);
}
.___428 {
	overflow: visible;
	position: absolute;
	width: 4.702px;
	height: 7.523px;
	left: 117.723px;
	top: 0.498px;
	transform: matrix(1,0,0,1,0,0);
}
.___429 {
	overflow: visible;
	position: absolute;
	width: 4.702px;
	height: 7.523px;
	left: 128.694px;
	top: 0.498px;
	transform: matrix(1,0,0,1,0,0);
}
#Layer_60 {
	position: absolute;
	width: 128.74px;
	height: 167.662px;
	left: 48px;
	top: 1120px;
	overflow: visible;
}
.___430 {
	overflow: visible;
	position: absolute;
	width: 17.964px;
	height: 20.958px;
	left: 110.776px;
	top: 26.946px;
	transform: matrix(1,0,0,1,0,0);
}
.___431 {
	overflow: visible;
	position: absolute;
	width: 113.771px;
	height: 86.825px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.___432 {
	overflow: visible;
	position: absolute;
	width: 101.795px;
	height: 77.843px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.___433 {
	overflow: visible;
	position: absolute;
	width: 101.83px;
	height: 15.011px;
	left: 5.954px;
	top: 86.784px;
	transform: matrix(1,0,0,1,0,0);
}
.___434 {
	overflow: visible;
	position: absolute;
	width: 95.881px;
	height: 9.063px;
	left: 5.954px;
	top: 86.784px;
	transform: matrix(1,0,0,1,0,0);
}
.___435 {
	overflow: visible;
	position: absolute;
	width: 89.819px;
	height: 65.867px;
	left: 11.976px;
	top: 101.795px;
	transform: matrix(1,0,0,1,0,0);
}
.___436 {
	overflow: visible;
	position: absolute;
	width: 70.275px;
	height: 59.88px;
	left: 11.976px;
	top: 107.782px;
	transform: matrix(1,0,0,1,0,0);
}
.___437 {
	overflow: visible;
	position: absolute;
	width: 77.843px;
	height: 77.843px;
	left: 17.964px;
	top: 8.982px;
	transform: matrix(1,0,0,1,0,0);
}
.___438 {
	overflow: visible;
	position: absolute;
	width: 65.867px;
	height: 65.867px;
	left: 17.964px;
	top: 8.982px;
	transform: matrix(1,0,0,1,0,0);
}
#cough__1_ {
	position: absolute;
	width: 135.481px;
	height: 137.864px;
	left: 200px;
	top: 731.556px;
	overflow: visible;
}
.___439 {
	overflow: visible;
	position: absolute;
	width: 64.268px;
	height: 57.977px;
	left: 11.49px;
	top: 67.398px;
	transform: matrix(1,0,0,1,0,0);
}
.___440 {
	overflow: visible;
	position: absolute;
	width: 111.385px;
	height: 137.864px;
	left: 14.197px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.___441 {
	overflow: visible;
	position: absolute;
	width: 30.908px;
	height: 40.489px;
	left: 84.975px;
	top: 49.717px;
	transform: matrix(1,0,0,1,0,0);
}
#__52 {
	position: absolute;
	width: 44.434px;
	height: 36.185px;
	left: 0px;
	top: 48.308px;
	overflow: visible;
}
.___442 {
	overflow: visible;
	position: absolute;
	width: 19.683px;
	height: 16.607px;
	left: 15.523px;
	top: 5.643px;
	transform: matrix(1,0,0,1,0,0);
}
.___443 {
	overflow: visible;
	position: absolute;
	width: 11.792px;
	height: 29.453px;
	left: 32.642px;
	top: 6.732px;
	transform: matrix(1,0,0,1,0,0);
}
.___93 {
	position: absolute;
	overflow: visible;
	width: 3.72px;
	height: 3.72px;
	left: 3.141px;
	top: 0px;
}
.___94 {
	position: absolute;
	overflow: visible;
	width: 5.555px;
	height: 5.555px;
	left: 0px;
	top: 28.178px;
}
.___444 {
	overflow: visible;
	position: absolute;
	width: 6.823px;
	height: 16.196px;
	left: 68.174px;
	top: 39.089px;
	transform: matrix(1,0,0,1,0,0);
}
.___445 {
	overflow: visible;
	position: absolute;
	width: 3.054px;
	height: 13.745px;
	left: 49.118px;
	top: 60.024px;
	transform: matrix(1,0,0,1,0,0);
}
.___446 {
	overflow: visible;
	position: absolute;
	width: 3.921px;
	height: 4.287px;
	left: 25.327px;
	top: 69.768px;
	transform: matrix(1,0,0,1,0,0);
}
.___447 {
	overflow: visible;
	position: absolute;
	width: 3.377px;
	height: 4.977px;
	left: 48.953px;
	top: 79.753px;
	transform: matrix(1,0,0,1,0,0);
}
.___448 {
	overflow: visible;
	position: absolute;
	width: 30.793px;
	height: 39.539px;
	left: 94.789px;
	top: 98.323px;
	transform: matrix(1,0,0,1,0,0);
}
.___449 {
	overflow: visible;
	position: absolute;
	width: 50.385px;
	height: 93.69px;
	left: 85.096px;
	top: 37.935px;
	transform: matrix(1,0,0,1,0,0);
}
.___450 {
	overflow: visible;
	position: absolute;
	width: 5.462px;
	height: 3.865px;
	left: 24.557px;
	top: 46.899px;
	transform: matrix(1,0,0,1,0,0);
}
#wound {
	position: absolute;
	width: 152.868px;
	height: 152.781px;
	left: 1089px;
	top: 772.447px;
	overflow: visible;
}
#__53 {
	position: absolute;
	width: 126.56px;
	height: 62.989px;
	left: 26.22px;
	top: 0px;
	overflow: visible;
}
.___451 {
	overflow: visible;
	position: absolute;
	width: 0.004px;
	height: 0.004px;
	left: 0px;
	top: 38.852px;
	transform: matrix(1,0,0,1,0,0);
}
.___452 {
	overflow: visible;
	position: absolute;
	width: 126.561px;
	height: 62.989px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.___453 {
	overflow: visible;
	position: absolute;
	width: 0.003px;
	height: 0.003px;
	left: 0.064px;
	top: 38.903px;
	transform: matrix(1,0,0,1,0,0);
}
.___454 {
	overflow: visible;
	position: absolute;
	width: 0.011px;
	height: 0.009px;
	left: 0.041px;
	top: 38.884px;
	transform: matrix(1,0,0,1,0,0);
}
#__54 {
	position: absolute;
	width: 152.868px;
	height: 113.928px;
	left: 0px;
	top: 38.853px;
	overflow: visible;
}
.___455 {
	overflow: visible;
	position: absolute;
	width: 56.95px;
	height: 77.584px;
	left: 64.587px;
	top: 36.342px;
	transform: matrix(1,0,0,1,0,0);
}
.___456 {
	overflow: visible;
	position: absolute;
	width: 76.346px;
	height: 48.49px;
	left: 64.587px;
	top: 36.342px;
	transform: matrix(1,0,0,1,0,0);
}
.___457 {
	overflow: visible;
	position: absolute;
	width: 44.76px;
	height: 19.396px;
	left: 108.108px;
	top: 55.739px;
	transform: matrix(1,0,0,1,0,0);
}
.___458 {
	overflow: visible;
	position: absolute;
	width: 44.76px;
	height: 19.396px;
	left: 108.108px;
	top: 75.135px;
	transform: matrix(1,0,0,1,0,0);
}
.___459 {
	overflow: visible;
	position: absolute;
	width: 44.76px;
	height: 9.698px;
	left: 108.108px;
	top: 75.134px;
	transform: matrix(1,0,0,1,0,0);
}
.___460 {
	overflow: visible;
	position: absolute;
	width: 44.76px;
	height: 19.396px;
	left: 108.108px;
	top: 94.531px;
	transform: matrix(1,0,0,1,0,0);
}
.___461 {
	overflow: visible;
	position: absolute;
	width: 20.667px;
	height: 58.188px;
	left: 0px;
	top: 55.74px;
	transform: matrix(1,0,0,1,0,0);
}
.___462 {
	overflow: visible;
	position: absolute;
	width: 15.019px;
	height: 29.094px;
	left: 0px;
	top: 84.834px;
	transform: matrix(1,0,0,1,0,0);
}
.___463 {
	overflow: visible;
	position: absolute;
	width: 28.53px;
	height: 55.559px;
	left: 56.29px;
	top: 58.369px;
	transform: matrix(1,0,0,1,0,0);
}
.___464 {
	overflow: visible;
	position: absolute;
	width: 28.53px;
	height: 29.094px;
	left: 56.29px;
	top: 84.834px;
	transform: matrix(1,0,0,1,0,0);
}
.___465 {
	overflow: visible;
	position: absolute;
	width: 34.981px;
	height: 58.188px;
	left: 34.987px;
	top: 55.74px;
	transform: matrix(1,0,0,1,0,0);
}
.___466 {
	overflow: visible;
	position: absolute;
	width: 28.906px;
	height: 29.094px;
	left: 34.987px;
	top: 84.834px;
	transform: matrix(1,0,0,1,0,0);
}
.___467 {
	overflow: visible;
	position: absolute;
	width: 46.532px;
	height: 113.928px;
	left: 7.771px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.___468 {
	overflow: visible;
	position: absolute;
	width: 33.723px;
	height: 29.094px;
	left: 7.771px;
	top: 84.834px;
	transform: matrix(1,0,0,1,0,0);
}
.___469 {
	overflow: visible;
	position: absolute;
	width: 115.632px;
	height: 24.135px;
	left: 36.987px;
	top: 38.852px;
	transform: matrix(1,0,0,1,0,0);
}
#Used_the_toilet {
	position: absolute;
	left: 388.5px;
	top: 1083.726px;
	overflow: hidden;
	width: 351px;
	height: 41px;
	text-align: left;
	color: rgba(112,112,112,1);
}
#Blew_your_nose__coughed_or_sne {
	position: absolute;
	left: 388.5px;
	top: 1322.726px;
	overflow: hidden;
	width: 550px;
	height: 115px;
	text-align: left;
	color: rgba(112,112,112,1);
}
#Touched_your_pet__pet_food__or {
	position: absolute;
	left: 391.5px;
	top: 1456.726px;
	overflow: hidden;
	width: 550px;
	height: 109px;
	text-align: left;
	color: rgba(112,112,112,1);
}
#Touched_garbage_or_garbage_bag {
	position: absolute;
	left: 388.5px;
	top: 1179.726px;
	overflow: visible;
	width: 301px;
	height: 135px;
	text-align: left;
	color: rgba(112,112,112,1);
}
#cough {
	position: absolute;
	width: 152px;
	height: 151px;
	left: 170px;
	top: 1281.226px;
	overflow: visible;
}
.___95 {
	position: absolute;
	overflow: visible;
	width: 152px;
	height: 151px;
	left: 0px;
	top: 0px;
}
.___470 {
	overflow: visible;
	position: absolute;
	width: 84.329px;
	height: 28.183px;
	left: 33.475px;
	top: 122.817px;
	transform: matrix(1,0,0,1,0,0);
}
.___471 {
	overflow: visible;
	position: absolute;
	width: 30.086px;
	height: 23.191px;
	left: 33.475px;
	top: 122.817px;
	transform: matrix(1,0,0,1,0,0);
}
.___472 {
	overflow: visible;
	position: absolute;
	width: 26.475px;
	height: 29.48px;
	left: 62.402px;
	top: 108.526px;
	transform: matrix(1,0,0,1,0,0);
}
.___473 {
	overflow: visible;
	position: absolute;
	width: 18.538px;
	height: 13.673px;
	left: 70.339px;
	top: 123.742px;
	transform: matrix(1,0,0,1,0,0);
}
.___474 {
	overflow: visible;
	position: absolute;
	width: 24.381px;
	height: 24.381px;
	left: 14.707px;
	top: 69.574px;
	transform: matrix(1,0,0,1,0,0);
}
.___475 {
	overflow: visible;
	position: absolute;
	width: 11.855px;
	height: 24.068px;
	left: 27.233px;
	top: 69.731px;
	transform: matrix(1,0,0,1,0,0);
}
.___96 {
	position: absolute;
	overflow: visible;
	width: 8.714px;
	height: 8.714px;
	left: 22.541px;
	top: 77.408px;
}
.___476 {
	overflow: visible;
	position: absolute;
	width: 24.381px;
	height: 24.381px;
	left: 112.19px;
	top: 69.574px;
	transform: matrix(1,0,0,1,0,0);
}
.___477 {
	overflow: visible;
	position: absolute;
	width: 11.855px;
	height: 24.068px;
	left: 112.19px;
	top: 69.731px;
	transform: matrix(1,0,0,1,0,0);
}
.___97 {
	position: absolute;
	overflow: visible;
	width: 8.714px;
	height: 8.714px;
	left: 120.024px;
	top: 77.408px;
}
.___478 {
	overflow: visible;
	position: absolute;
	width: 91.604px;
	height: 92.433px;
	left: 29.837px;
	top: 28.727px;
	transform: matrix(1,0,0,1,0,0);
}
.___479 {
	overflow: visible;
	position: absolute;
	width: 53.87px;
	height: 92.433px;
	left: 29.837px;
	top: 28.727px;
	transform: matrix(1,0,0,1,0,0);
}
.___480 {
	overflow: visible;
	position: absolute;
	width: 14.874px;
	height: 4.483px;
	left: 68.202px;
	top: 81.292px;
	transform: matrix(1,0,0,1,0,0);
}
.___481 {
	overflow: visible;
	position: absolute;
	width: 112.036px;
	height: 60.754px;
	left: 22.405px;
	top: 1.097px;
	transform: matrix(1,0,0,1,0,0);
}
.___482 {
	overflow: visible;
	position: absolute;
	width: 43.448px;
	height: 60.425px;
	left: 22.405px;
	top: 1.426px;
	transform: matrix(1,0,0,1,0,0);
}
.___483 {
	overflow: visible;
	position: absolute;
	width: 12.143px;
	height: 15.102px;
	left: 82.033px;
	top: 70.507px;
	transform: matrix(1,0,0,1,0,0);
}
.___484 {
	overflow: visible;
	position: absolute;
	width: 12.143px;
	height: 15.094px;
	left: 57.103px;
	top: 70.515px;
	transform: matrix(1,0,0,1,0,0);
}
.___485 {
	overflow: visible;
	position: absolute;
	width: 14.983px;
	height: 12.208px;
	left: 105.707px;
	top: 4.354px;
	transform: matrix(1,0,0,1,0,0);
}
.___486 {
	overflow: visible;
	position: absolute;
	width: 21.791px;
	height: 15.424px;
	left: 47.455px;
	top: 65.298px;
	transform: matrix(1,0,0,1,0,0);
}
.___487 {
	overflow: visible;
	position: absolute;
	width: 21.79px;
	height: 15.425px;
	left: 82.033px;
	top: 65.298px;
	transform: matrix(1,0,0,1,0,0);
}
.___488 {
	overflow: visible;
	position: absolute;
	width: 27.2px;
	height: 13.921px;
	left: 62.04px;
	top: 89.761px;
	transform: matrix(1,0,0,1,0,0);
}
#__55 {
	position: absolute;
	width: 28.836px;
	height: 30.096px;
	left: 61.213px;
	top: 89.761px;
	overflow: visible;
}
.___489 {
	overflow: visible;
	position: absolute;
	width: 22.922px;
	height: 5.24px;
	left: 2.963px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.___490 {
	overflow: visible;
	position: absolute;
	width: 7.887px;
	height: 20.041px;
	left: 0px;
	top: 8.788px;
	transform: matrix(1,0,0,1,0,0);
}
.___491 {
	overflow: visible;
	position: absolute;
	width: 7.888px;
	height: 20.041px;
	left: 20.948px;
	top: 8.788px;
	transform: matrix(1,0,0,1,0,0);
}
.___492 {
	overflow: visible;
	position: absolute;
	width: 3.256px;
	height: 17.836px;
	left: 12.796px;
	top: 12.26px;
	transform: matrix(1,0,0,1,0,0);
}
.___493 {
	overflow: visible;
	position: absolute;
	width: 50.214px;
	height: 24.874px;
	left: 50.532px;
	top: 113.294px;
	transform: matrix(1,0,0,1,0,0);
}
.___495 {
	overflow: visible;
	position: absolute;
	width: 506.897px;
	height: 78px;
	left: 435.103px;
	top: 1637.226px;
	transform: matrix(1,0,0,1,0,0);
}
#You_should_not_go_to_the_publi {
	position: absolute;
	left: 470.5px;
	top: 1647.726px;
	overflow: visible;
	width: 420px;
	height: 56px;
	text-align: center;
	color: rgba(112,112,112,1);
}
.___494 {
	overflow: visible;
	position: absolute;
	width: 521.345px;
	height: 99.515px;
	left: 679.655px;
	top: 1014.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Wash_your_hands_after_using_th {
	position: absolute;
	left: 740.5px;
	top: 1025.726px;
	overflow: visible;
	width: 420px;
	height: 56px;
	text-align: center;
	color: rgba(112,112,112,1);
}
#ID017_bin {
	position: absolute;
	width: 170.988px;
	height: 171.007px;
	left: 791.015px;
	top: 1143.228px;
	overflow: visible;
}
.___781 {
	overflow: visible;
	position: absolute;
	width: 170.988px;
	height: 171.007px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.___782 {
	overflow: visible;
	position: absolute;
	width: 38.852px;
	height: 35.22px;
	left: 79.3px;
	top: 19.415px;
	transform: matrix(1,0,0,1,0,0);
}
.___783 {
	overflow: visible;
	position: absolute;
	width: 87.885px;
	height: 66.106px;
	left: 48.44px;
	top: 13.949px;
	transform: matrix(1,0,0,1,0,0);
}
.___784 {
	overflow: visible;
	position: absolute;
	width: 89.205px;
	height: 70.621px;
	left: 40.897px;
	top: 100.386px;
	transform: matrix(1,0,0,1,0,0);
}
.___52 {
	position: absolute;
	overflow: visible;
	width: 105px;
	height: 11px;
	left: 32.985px;
	top: 88.999px;
}
#__117 {
	position: absolute;
	width: 59.508px;
	height: 59.489px;
	left: 55.746px;
	top: 111.518px;
	overflow: visible;
}
.___785 {
	overflow: visible;
	position: absolute;
	width: 7.434px;
	height: 59.47px;
	left: 26.037px;
	top: 0.019px;
	transform: matrix(1,0,0,1,0,0);
}
.___786 {
	overflow: visible;
	position: absolute;
	width: 12.756px;
	height: 57.742px;
	left: 46.752px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.___787 {
	overflow: visible;
	position: absolute;
	width: 12.756px;
	height: 57.742px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#home_botton {
	position: absolute;
	width: 94.333px;
	height: 85px;
	left: 537.833px;
	top: 3615px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Landing.html;
	cursor: pointer;
}
#__61 {
	position: absolute;
	width: 94.333px;
	height: 85px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.___34 {
	position: absolute;
	overflow: visible;
	width: 94.333px;
	height: 85px;
	left: 0px;
	top: 0px;
}
#___19___43 {
	position: absolute;
	width: 65.103px;
	height: 62.094px;
	left: 17.813px;
	top: 3.906px;
	overflow: visible;
}
.___35 {
	position: absolute;
	overflow: visible;
	width: 38.015px;
	height: 27px;
	left: 10.065px;
	top: 35.094px;
}
.___496 {
	overflow: visible;
	position: absolute;
	width: 41.855px;
	height: 51.009px;
	transform: translate(0px, 0px) matrix(1,0,0,1,11.6238,5.3716) rotate(120deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.___36 {
	position: absolute;
	overflow: visible;
	width: 8px;
	height: 15px;
	left: 50.167px;
	top: 48.167px;
}
#back_arrow {
	position: absolute;
	width: 94.333px;
	height: 85px;
	left: 647.833px;
	top: 3615px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: What_Can_I_do.html;
	cursor: pointer;
}
.___78 {
	position: absolute;
	overflow: visible;
	width: 94.333px;
	height: 85px;
	left: 0px;
	top: 0px;
}
.Icon_open_arrow_thick_bottom {
	overflow: visible;
	position: absolute;
	width: 51.734px;
	height: 68.979px;
	transform: translate(-29px, -147.334px) matrix(1,0,0,1,48.8225,156.4001) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#how_block {
	position: absolute;
	width: 1280px;
	height: 877px;
	left: 0px;
	top: 2076px;
	overflow: visible;
}
.___49 {
	position: absolute;
	overflow: visible;
	width: 1280px;
	height: 844px;
	left: 0px;
	top: 33px;
}
#Follow_this_video_to_wash_your {
	position: absolute;
	left: 87px;
	top: 137px;
	overflow: visible;
	width: 1108px;
	height: 85px;
	text-align: left;
	color: rgba(112,112,112,1);
}
.___33 {
	position: absolute;
	overflow: visible;
	width: 881px;
	height: 472px;
	left: 180px;
	top: 312px;
}
.___98 {
	position: absolute;
	overflow: visible;
	width: 131px;
	height: 131px;
	left: 555px;
	top: 483px;
}
.____1 {
	overflow: hidden;
	position: absolute;
	width: 77px;
	height: 67px;
	transform: translate(0px, -2076px) matrix(1,0,0,1,575.8757,2582.3925) rotate(-30deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.___48 {
	position: absolute;
	overflow: visible;
	width: 278px;
	height: 113px;
	left: 38px;
	top: 0px;
}
#HOW_ {
	position: absolute;
	left: 69px;
	top: 20px;
	overflow: visible;
	width: 217px;
	height: 85px;
	text-align: center;
	color: rgba(255,255,255,1);
}
#Think_of_the_red_ink_as_the_vi {
	position: absolute;
	left: 120px;
	top: 215px;
	overflow: visible;
	width: 981px;
	height: 109px;
	text-align: center;
	color: rgba(112,112,112,1);
}
#why_block {
	position: absolute;
	width: 1280px;
	height: 515px;
	left: 0px;
	top: 2925px;
	overflow: visible;
}
.___50 {
	position: absolute;
	overflow: visible;
	width: 1280px;
	height: 487px;
	left: 0px;
	top: 28px;
}
.___51 {
	position: absolute;
	overflow: visible;
	width: 278px;
	height: 113px;
	left: 38px;
	top: 0px;
}
#WHY_ {
	position: absolute;
	left: 69px;
	top: 28px;
	overflow: visible;
	width: 217px;
	height: 85px;
	text-align: center;
	color: rgba(255,255,255,1);
}
#__212 {
	position: absolute;
	width: 355px;
	height: 122px;
	left: 462.5px;
	top: 273px;
	overflow: visible;
}
.___70 {
	filter: drop-shadow(5px 3px 5px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 370px;
	height: 140px;
	left: 0px;
	top: 0px;
}
#Talk_to_an_expert_ {
	position: absolute;
	left: 500.5px;
	top: 290px;
	overflow: visible;
	width: 281px;
	height: 60px;
	text-align: center;
	color: rgba(112,112,112,1);
}
#More_information_coming_ {
	position: absolute;
	left: 321px;
	top: 175px;
	overflow: visible;
	width: 820px;
	height: 80px;
	text-align: left;
	color: rgba(112,112,112,1);
}
#home_botton_h {
	position: absolute;
	width: 83.099px;
	height: 74.878px;
	left: 40px;
	top: 20px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Landing.html;
	cursor: pointer;
}
#__61_h {
	position: absolute;
	width: 83.099px;
	height: 74.878px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.___34_h {
	position: absolute;
	overflow: visible;
	width: 83.1px;
	height: 74.878px;
	left: 0px;
	top: 0px;
}
#___19___47 {
	position: absolute;
	width: 57.35px;
	height: 54.7px;
	left: 15.692px;
	top: 3.441px;
	overflow: visible;
}
.___35_h {
	position: absolute;
	overflow: visible;
	width: 33.488px;
	height: 23.785px;
	left: 8.867px;
	top: 30.915px;
}
.___496_ia {
	overflow: visible;
	position: absolute;
	width: 36.871px;
	height: 44.935px;
	transform: translate(0px, 0px) matrix(1,0,0,1,10.2396,4.7319) rotate(120deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.___36_ib {
	position: absolute;
	overflow: visible;
	width: 7.047px;
	height: 13.214px;
	left: 44.192px;
	top: 42.431px;
}
#back_arrow_ic {
	position: absolute;
	width: 83.099px;
	height: 74.878px;
	left: 140px;
	top: 20px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: What_Can_I_do.html;
	cursor: pointer;
}
.___78_id {
	position: absolute;
	overflow: visible;
	width: 83.1px;
	height: 74.878px;
	left: 0px;
	top: 0px;
}
.Icon_open_arrow_thick_bottom_ie {
	overflow: visible;
	position: absolute;
	width: 45.573px;
	height: 60.764px;
	transform: translate(0px, 0px) matrix(1,0,0,1,17.4619,7.9868) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#menu_button {
	position: absolute;
	width: 80px;
	height: 72.085px;
	left: 1160px;
	top: 20px;
	overflow: visible;
}
.button_oval {
	position: absolute;
	overflow: visible;
	width: 80px;
	height: 72.085px;
	left: 0px;
	top: 0px;
}
#button_lines {
	position: absolute;
	width: 42.403px;
	height: 32.226px;
	left: 18.657px;
	top: 20.07px;
	overflow: visible;
}
.line {
	position: absolute;
	overflow: visible;
	width: 42.403px;
	height: 6.784px;
	left: 0px;
	top: 0px;
}
.line_ij {
	position: absolute;
	overflow: visible;
	width: 42.403px;
	height: 6.784px;
	left: 0px;
	top: 12.721px;
}
.line_ik {
	position: absolute;
	overflow: visible;
	width: 42.403px;
	height: 6.784px;
	left: 0px;
	top: 25.442px;
}