.mediaViewInfo {
	--web-view-name: What Can I do;
	--web-view-id: What_Can_I_do;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: What_Can_I_do;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#What_Can_I_do {
	position: absolute;
	width: 1280px;
	height: 3725px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: What Can I do;
	--web-view-id: What_Can_I_do;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}


#What_Can_I_do_ {
	position: absolute;
	left: 353px;
	top: 76px;
	overflow: visible;
	width: 575px;
	white-space: nowrap;
	text-align: center;
	font-size: 80px;
	color: rgba(112,112,112,1);
}

#self-block {
	position: absolute;
	width: 100%;
	height: 1360px;
	top: 200px;
	background-image: url('img/self-background.svg');
}

#title {
		position: absolute;
		top: 80px;
		left: 353px;
	}

#family-block {
	position: absolute;
	width: 100%;
	height: 1020px;
	top: 1560px;
	background: #FFE5E5;
}

#world-block {
	position: absolute;
	width: 100%;
	height: 1020px;
	top: 2580px;
	background: #DEFFF0;
}


.left-icons {
position: absolute; 
left: 85px; 
top: 45px; 
width: 170px; 
height: 170px;
}

.captions-h3 {
	position: absolute; 
	top: 60px; 
	left: 300px;
}

.captions-h2 {
	position: absolute; 
	top: 100px; 
	left: 300px;
}

.elements button {
  background-color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  width: 360px;
  height: 130px;
  border-radius: 40px;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 300px;
}

.elements img {
	position: absolute;
	height: 125px;
	width: 125px;
	left: 160px;
	top: 10px;
}

.elements .pink-small-button {
	position: absolute;
	width: 97px;
	height: 91px;
	top: 20px;
	left: 680px;
}

.elements h4 {
	position: absolute;
	padding-top: 20px;
	left: 330px;
	width: 300px;
	text-align: left;
}

.elements p {
	position: absolute;
	padding-top: 60px;
	left: 330px;
	width: 300px;
	font-size: 15px;
	text-align: left
}

#wash-hands {
	position: absolute;
	top: 260px;
}
#excercise {
	position: absolute;
	top: 440px;
}
#eat-well {
	position: absolute;
	top: 620px;
}
#creative-projects {
	position: absolute;
	top: 800px;
}
#meditate {
	position: absolute;
	top: 980px;
}
#connect {
	position: absolute;
	top: 1150px;
}


.right-icons {
	position: absolute;
	width: 220px;
	height: 220px;
	right: 140px;
}

#body-icon {
	top: 200px;
}

#mind-icon {
	top: 720px;
}

#quiz-icon {
	top: 1060px;
}

#house-icon {
	top: 200px;
}

#elderly-icon {
	top: 460px;
}
#dog-icon {
	top: 720px;
}
#news-icon {
	top: 200px;
}
#graph-icon {
	top: 460px;
}
#science-icon {
	top: 720px;
}

.first-row-h3 {
	position: absolute;
	height: 100px;
	width: 250px;
	top: 260px;
	left: 30px;
}

.first-row-p {
	position: absolute;
	text-align: left;
	width: 600px;
	top: 240px;
	left: 300px;
}

.second-row-h3 {
	position: absolute;
	height: 100px;
	width: 250px;
	top: 540px;
	left: 30px;
}

.second-row-p {
	position: absolute;
	text-align: left;
	width: 600px;
	top: 520px;
	left: 300px;
}

.third-row-h3 {
	position: absolute;
	height: 100px;
	width: 250px;
	top: 800px;
	left: 30px;
}

.third-row-p {
	position: absolute;
	text-align: left;
	width: 600px;
	top: 780px;
	left: 300px;
}

.first-row-p button {
	border-radius: 40px;
	background-color: white;
	box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.1);
	width: 250px; 
	height: 60px;
	margin: 10px 10px;
}

.second-row-p button {
	border-radius: 40px;
	background-color: white;
	box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.1);
	width: 400px; 
	height: 60px;
	margin: 10px 100px;
}

.third-row-p button {
	border-radius: 40px;
	background-color: white;
	box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.1);
	width: 400px; 
	height: 60px;
	margin: 10px 100px;

}


