.mediaViewInfo {
	--web-view-name: What is happening;
	--web-view-id: What_is_happening;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: What_is_happening;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#What_is_happening {
	position: absolute;
	width: 1280px;
	height: 8060px;
	background-color: rgba(255,255,255,1);
	overflow: visible;
	--web-view-name: What is happening;
	--web-view-id: What_is_happening;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#What_is_Happening_ {
	position: absolute;
	left: 275px;
	top: 103px;
	overflow: visible;
	width: 731px;
	white-space: nowrap;
	text-align: left;
	font-size: 80px;
	color: rgba(112,112,112,1);
}

#timeline {
	position: absolute;
	top: 200px;
	left: 60px;
}


#virus_block {
	position: absolute;
	width: 1281px;
	height: 1840px;
	left: -1px;
	top: 2940px;
	overflow: visible;
	background-color: rgba(255,190,190,1)
}

.___89 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	overflow: visible;
	width: 1138px;
	height: 218px;
	left: 61px;
	top: 280px;
}

.___1166 {
	overflow: visible;
	position: absolute;
	width: 240px;
	height: 200px;
	left: 61px;
	top: 280px;
	transform: matrix(1,0,0,1,0,0);
}


#virus-icon {
	position: absolute;
	width: 200px;
	height: 200px;
	left: 30px;
	top: 30px;
	overflow: visible;
}

#What_exactly_is_COVID_19____i_ {
	position: absolute;
	left: 248px;
	top: 60px;
	overflow: visible;
	width: 792px;
	white-space: nowrap;
	text-align: left;
	font-size: 60px;
	color: rgba(112,112,112,1);
}
#COVID_19_is_a_virus__similar_t {
	position: absolute;
	left: 241px;
	top: 220px;
	overflow: visible;
	width: 881px;
	height: 74px;
	text-align: left;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
#A_virus_is_a_tiny_piece_of_DNA {
	position: absolute;
	left: 421px;
	top: 340px;
	overflow: visible;
	width: 721px;
	height: 120px;
	text-align: left;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
#What_is_a_virus___ {
	position: absolute;
	left: 81px;
	top: 340px;
	overflow: visible;
	width: 201px;
	height: 80px;
	text-align: right;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
.___90 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	overflow: visible;
	width: 1138px;
	height: 218px;
	left: 61px;
	top: 520px;
}
.___1167 {
	overflow: visible;
	position: absolute;
	width: 240px;
	height: 200px;
	left: 61px;
	top: 520px;
	transform: matrix(1,0,0,1,0,0);
}
#We_have_an_immune_system_that_ {
	position: absolute;
	left: 421px;
	top: 568px;
	overflow: visible;
	width: 721px;
	height: 112px;
	text-align: left;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
#Why_do_we_get__sick____ {
	position: absolute;
	left: 81px;
	top: 580px;
	overflow: visible;
	width: 201px;
	height: 80px;
	text-align: right;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
.___91 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	overflow: visible;
	width: 1138px;
	height: 238px;
	left: 61px;
	top: 760px;
}
#It_spreads_from_person_to_pers {
	position: absolute;
	left: 421px;
	top: 780px;
	overflow: visible;
	width: 681px;
	height: 200px;
	text-align: left;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
.___1168 {
	overflow: visible;
	position: absolute;
	width: 240px;
	height: 220px;
	left: 61px;
	top: 760px;
	transform: matrix(1,0,0,1,0,0);
}
#How_does_it_spread_ {
	position: absolute;
	left: 121px;
	top: 840px;
	overflow: visible;
	width: 161px;
	height: 88px;
	text-align: right;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
.___92 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	overflow: visible;
	width: 1138px;
	height: 218px;
	left: 61px;
	top: 1040px;
}
#Fever__Cough__Shortness_of_Bre {
	position: absolute;
	left: 421px;
	top: 1120px;
	overflow: visible;
	width: 561px;
	height: 40px;
	text-align: left;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
.___1169 {
	overflow: visible;
	position: absolute;
	width: 240px;
	height: 200px;
	left: 61px;
	top: 1040px;
	transform: matrix(1,0,0,1,0,0);
}
#What_are_the_symptoms_ {
	position: absolute;
	left: 61px;
	top: 1100px;
	overflow: visible;
	width: 221px;
	height: 80px;
	text-align: right;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
#ID008_coronavirus {
	position: absolute;
	width: 80px;
	height: 80px;
	left: 321px;
	top: 340px;
	overflow: visible;
}

#ID006_sneeze {
	position: absolute;
	width: 55.742px;
	height: 72px;
	left: 341px;
	top: 580px;
	overflow: visible;
}

#ID013_cough {
	position: absolute;
	width: 70.968px;
	height: 100px;
	left: 321px;
	top: 1080px;
	overflow: visible;
}

#ID048_air {
	position: absolute;
	width: 70px;
	height: 60.156px;
	left: 321px;
	top: 850px;
	overflow: visible;
}

#response_block {
	position: absolute;
	width: 1280px;
	height: 1620px;
	left: 0px;
	top: 4780px;
	overflow: visible;
}
.___97 {
	position: absolute;
	overflow: visible;
	width: 1280px;
	height: 1620px;
	left: 0px;
	top: 0px;
}
.___1407 {
	overflow: visible;
	position: absolute;
	width: 920px;
	height: 460px;
	left: 100px;
	top: 240px;
	transform: matrix(1,0,0,1,0,0);
}

#ID009_world {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.2));
	position: absolute;
	width: 200px;
	height: 200px;
	left: 30px;
	top: 30px;
	overflow: visible;
}

#How_did_the_world_respond_ {
	position: absolute;
	left: 240px;
	top: 88px;
	overflow: visible;
	width: 768px;
	white-space: nowrap;
	text-align: left;
	font-size: 60px;
	color: rgba(255,255,255,1);
}
#china-flag{
	position: absolute;
	width: 260px;
	height: 260px;
	left: 980px;
	top: 240px;
	overflow: visible;
}
#us-flag {
	position: absolute;
	width: 260px;
	height: 260px;
	left: 80px;
	top: 980px;
	overflow: visible;
}
#We_tested_over_320_000_cases_e {
	position: absolute;
	left: 180px;
	top: 300px;
	overflow: visible;
	width: 701px;
	height: 380px;
	text-align: left;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.___1408 {
	overflow: visible;
	position: absolute;
	width: 1000px;
	height: 380px;
	left: 200px;
	top: 540px;
	transform: matrix(1,0,0,1,0,0);
}
#All_testing_was_free__Over_40_ {
	position: absolute;
	left: 220px;
	top: 760px;
	overflow: visible;
	width: 981px;
	height: 180px;
	text-align: center;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.___1409 {
	overflow: visible;
	position: absolute;
	width: 920px;
	height: 320px;
	left: 320px;
	top: 960px;
	transform: matrix(1,0,0,1,0,0);
}
.___1410 {
	overflow: visible;
	position: absolute;
	width: 860px;
	height: 228.298px;
	left: 80px;
	top: 1251.702px;
	transform: matrix(1,0,0,1,0,0);
}
#Most_public_schools_have_been_ {
	position: absolute;
	left: 440px;
	top: 1000px;
	overflow: visible;
	width: 761px;
	height: 260px;
	text-align: left;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Convention_Centers_are_being_t {
	position: absolute;
	left: 120px;
	top: 1340px;
	overflow: visible;
	width: 810px;
	height: 100px;
	text-align: left;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#history_block {
	position: absolute;
	width: 1283.365px;
	height: 2720px;
	left: -0.001px;
	top: 220px;
	overflow: visible;
}
.more-details {
	position: absolute;
	overflow: visible;
	width: 1140px;
	height: 440px;
	left: 80px;
	top: 980px;
}
#Brief_History_of_COVID_19 {
	position: absolute;
	left: 257.001px;
	top: 80px;
	overflow: visible;
	width: 724px;
	white-space: nowrap;
	text-align: left;
	font-size: 60px;
	color: rgba(255,255,255,1);
}
#chart {
	position: absolute;
	width: 990px;
	height: 487px;
	left: 145.001px;
	top: 1550px;
	overflow: visible;
}

#map {
	position: absolute;
	width: 1152px;
	height: 487px;
	left: 64.001px;
	top: 2133px;
	overflow: visible;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.2));
}

#brief-history {
	position: absolute;
	width: 200px;
	height: 200px;
	left: 30px;
	top: 30px;
	overflow: visible;
}

#Spread_of_the_Virus {
	transform: translate(0px, -220px) matrix(1,0,0,1,440,2280);
    transform-origin: center;
    position: absolute;
    overflow: visible;
    text-align: center;
    color: rgba(255,255,255,1);
}

#economy_block {
	position: absolute;
	width: 1280px;
	height: 1500px;
	left: 0px;
	top: 6400px;
	overflow: visible;
	background-color: rgba(255,208,91,1);
}
#economy-icon {
	position: absolute;
	width: 200px;
	height: 200px;
	left: 30px;
	top: 30px;
	overflow: visible;
}

#What_Happened_to_the_Economy_ {
	position: absolute;
	left: 260px;
	top: 88px;
	overflow: visible;
	width: 850px;
	text-align: left;
	font-size: 60px;
	color: rgba(112,112,112,1);
}
#Unfortunately__because_people_ {
	position: absolute;
	left: 80px;
	top: 260px;
	overflow: visible;
	width: 881px;
	height: 780px;
	text-align: left;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
#money {
	position: absolute;
	width: 200px;
	height: 200px;
	left: 980px;
	top: 240px;
	overflow: visible;
}

#line_chart {
	position: absolute;
	width: 200px;
	height: 200px;
	left: 980px;
	top: 1160px;
	overflow: visible;
}

#ID031_home {
	position: absolute;
	width: 200px;
	height: 200px;
	left: 980px;
	top: 720px;
	overflow: visible;
}

#ID019_teamwork {
	position: absolute;
	width: 200px;
	height: 200px;
	left: 980px;
	top: 480px;
	overflow: visible;
}

#If_you_are_interested {
	position: absolute;
	left: 160px;
	top: 1000px;
	overflow: visible;
	width: 761px;
	text-align: left;
	font-size: 30px;
	color: rgba(112,112,112,1);
}

#lifeomic-block {
	position: absolute;
	width: 100%;
	height: 560px;
	top: 4200px;
	overflow: visible;
	text-align: center;
	background-color: none;
}

.lifeology-button {
  background-color: white;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 360px;
  height: 400px;
  border-radius: 75px;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  top: 120px;
  position: absolute;
}

